body{
    background-color: lightskyblue
}
h1{
    background-color: aquamarine;
    color:blue
}
h1{
    font-family:'Times New Roman', Times, serif;
}
#show_sketch{
    float: right;
}
#score{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
}
#timer{
    float:right;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 5px;
}
p{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color:black
}
#sketch_to_be_drawn{
    color: blue;
}
p
{
    font-size: large;
    font-weight: 750;
}
canvas
{
    margin-top: 80px;
    border:5px;
    border-radius:15px; 
    animation-name:Venom;
    animation-duration:5s;
    animation-iteration-count:infinite;
}
@keyframes Venom
{
    from{
box-shadow: 2px 2px 50px purple;
    }
    to{
    box-shadow: 2px 2px 50px blue;
    }
}
